
.App {
  margin: 0;
  padding: 0;
  font-size: 1em;

  .appHeader {
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 0.3fr;
    }
    place-items: center;
    height: 5em;
    background: turquoise;
  @media (min-width: 100px) {
    display: grid;
    grid-template-rows: 1fr 0.3fr;
  }

  .appHeaderAuthLinks {
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;

    .appHeaderAuthLink {
      all: unset;
      cursor: pointer;

      font-weight: bold;

      transition: color 0.2s ease-in-out;
    }

    .appHeaderAuthLink:hover {
      color: orangered;
    }
  }
}

.auhPage {
  display: flex;
  height: 25em;
  align-items: center;
  justify-content: center;

  .authField {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    gap: 0.5em;
    place-items: center;
    height: 8em;
    width: 8em;
    justify-content: center;

    .input {
      border: 0.1em solid black;
      background: floralwhite;
      border-radius: 0.5em;
      height: 1.3em;
    }

    .errorValidate {
      border: 0.1em solid red;
    }

    .btn {
      all: unset;
      align-items: center;
      justify-content: center;
      display: flex;
      height: 1.3em;
      width: 8em;
      border: turquoise solid 0.15em;
      transition: all 0.3s ease-in-out;
      cursor: pointer;

    }

    .btn:hover {
      background-color: turquoise;
      color: white;
      border-radius: 0.12em;

    }
  }
}


.toDoPage {
  max-width: 45em;
  margin: 2em auto;
  align-items: center;
  justify-content: center;

  .popup {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    flex-flow: column nowrap;
    justify-content: center; /* см. ниже */
    z-index: 99;
    background: rgba(0, 0, 0, 0.8);
    .fields {
      display: grid;
      max-width: 40em;
      border-radius: 0.5em;
      padding: 2em 1em;
      background: white;
      place-items: center;
      margin: 0 auto;
      @media (min-width: 768px) {
        grid-template-rows:0.5fr 0.6fr 0.3fr  ;
      }
      @media (min-width: 1240px) {
        grid-template-columns:0.5fr 0.6fr 0.3fr  ;
        height: 10em;
      }
      .field {
        all: unset;
        display: block;
        height: 1.5em;
        width: 12em;
        border: 2px solid turquoise;
        border-radius: 0.5em;
      }

      .textarea {
        display: block;
        all: unset;
        height: 8em;
        min-width: 15em;
        word-wrap: break-word;
        border: 2px solid turquoise;
        border-radius: 0.5em;
      }

      .fieldLabel {
        display: block;
        font-weight: bold;
      }

      .btn {
        height: 2em;
        width: 8em;
        margin-top: 2em;
      }
    }
  }

  .ToDoList {
    display: grid;
    gap: 1em;
    @media (min-width: 100px) {
      max-width: 10em;
    }
    @media (min-width: 768px) {
    max-width: 45em;
    }
    margin: 0 2em;

    .toDoItem {
      @media (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 3fr 0.5fr 0.5fr;
        max-height: 6em;
      }
      @media (min-width: 100px) {
        display: grid;
        grid-template-rows: 1fr 1.5fr 0.5fr 0.5fr;
      }

      .headerAndDeadLine {
        max-width: 8em;
        word-wrap: break-word;
      }

      .description {
        margin: 0.5em;
        width: 15em;
        word-wrap: break-word;
      }

      .btnDelete {
        border: solid red 0.2em;
        align-self: center;
        background: red;
        height: 2em;
        width: 8em;
      }

      .btnDelete:active {
        border: solid black 0.2em;
      }

      .btnCompleted {
        border: solid green 0.2em;
        align-self: center;
        background: green;
        height: 2em;
        width: 8em;
      }

      .btnCompleted:active {
        border: solid black 0.2em;
      }
    }
  }
}

}
